header h1 {
    background-color: #1afa1a;
}

img.class {
    display: inline-block;
    align-items: center;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 150px;
    row-gap: 10px;
    column-gap: 20px;
}
.box1 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box1:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.box2 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box2:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box3 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box3:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box4 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box4:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box5 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box5:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box6 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box6:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box7 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box7:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box8 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box8:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box9 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box9:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.box10 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box10:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.box11 {
    border-style: solid;
    box-shadow: 3px 2px 2px 2px #1afa1a;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s; /* Animation */
}

.box11:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
